<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moorthi.foodorderone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.BiriyaniDiscriptions" />
        <activity android:name=".Activity.DosaDiscriptions" />
        <activity android:name=".Activity.ChapatiDiscriptions" />
        <activity android:name=".Activity.SpanichNoodelsDiscriptions" />
        <activity android:name=".Activity.FriedDiscriptions" />
        <activity android:name=".Activity.DumplingsDiscriptions" />
        <activity android:name=".Activity.PanzenellaDicriptions" />
        <activity android:name=".Activity.PastaDiscriptions" />
        <activity android:name=".Activity.MargheritaPizzaDiscriptions"></activity>
    </application>

</manifest>